html {
	font-size: 62.5%;
}

body {
	font-family: Futura, sans-serif;
	letter-spacing: 0.02em;
}

p {
	margin: 0!important;
}

/* font */
.small-font {
	color: #d0fff5;
	text-shadow: 2px 2px 4px #363636;
	font-size: 1.8rem;
}

.middle-font {
	color: white;
	text-shadow: 2px 2px 4px #363636;
	font-size: 2rem;
}

.large-font {
	color: white;
	text-shadow: 2px 2px 4px #363636;
	font-size: 2.6rem;
}

.x-large-font {
	color: white;
	text-shadow: 2px 2px 4px #363636;
	font-size: 2.6rem;
	letter-spacing: 0.1em!important;
}

.font-green {
	color: #00ff80!important;
}

/* image size */
.item-size {
	height: 8vmax;
	width: 12vmax;
}

.item-size-l {
	height: 12vmax;
	width: 18vmax;
}

.hamburger {
	height: 160px;
	width: auto;
}

/* effect */
.hover-btn:hover {
	cursor: pointer;
	background-color: #9b9b9b;
}

.hover-item:hover {
	cursor: pointer;
	opacity: 0.8;
	outline: solid #00ffff;
}

.hover-hamburger:hover {
	cursor: pointer;
	height: 180px;
	width: auto;
}

#hamburger:active {
	height: 200px;
	width: auto;
}

btn:disabled {
	opacity: 0.5;
}

/* specific layout */
.city {
	background-color: black;
	background-image: url("../images/kuala-lumpur-1820944.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.metallic {
	border-top: 2px solid #dddddd;
	border-left: 2px solid #dddddd;
	border-right: 2px solid #292929;
	border-bottom: 2px solid #292929;
	background: linear-gradient(to bottom right, transparent, #797979);
	background-color: #afafaf;
}

.concavity {
	border-bottom: 3px solid #c2c2c2;
	border-right: 3px solid #c2c2c2;
	border-left: 3px solid #585858;
	border-top: 3px solid #585858;
	background: linear-gradient(to bottom, transparent, #407958);
	background-color: #142e35;
}

.text-line {
	border-bottom: 1px solid white;
}

.item-list-div {
	height: 360px;
	width: auto;
	overflow: hidden;
	overflow-y: scroll;
}

.redo-save-btn {
	height: 40px;
	width: 40px;
	outline: 1px solid white;
}

.burger-div {
	height: 280px;
	width: auto;
}

@media screen and (min-width: 897px) {
	.item-info {
		display: block;
	}
}

@media screen and (max-width: 896px) {
	.item-info {
		display: none;
	}
}